@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Jost:wght@600&family=Open+Sans&display=swap');


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.wrapper{
    background-color: #f6f6f6;
    color: #272727;
    display: flex;
    flex-direction: row;
    position: relative;
    flex-wrap: nowrap;
    flex: 1;
    padding-top: 60px;
    padding-bottom: 130px;
}
.wrapper-row{
    margin-left: 55px;
    margin-right: 55px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    flex: 1;
}
.divider{
    position: relative;
    
    z-index: 1;
    display: block;
    border: none;
}
.d-flex{
    width: 1px;
    position: relative;
    height: 60px;
    display: block;
    clear: both;
}
.vr{
    transform: scaleY(0);
    animation: divider_line  3s infinite cubic-bezier(.48, 0, .12, 1);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
@keyframes divider_line {
    10% {
        transform: scaleY(0);
        transform-origin: center top;
    }
    50% {
        transform-origin: center top;
        transform: scaleY(1);
    }
    51% {
        transform-origin: center bottom;
    }
    100% {
        transform-origin: center bottom;
        transform: scaleY(0);
    }
}

.content{
    display: flex; 
}
.text{
    width: 58.3333%;
    padding-top: 20px;
}
.image-container{
    position: relative;
    width: 41.6667%;
}
.green-back{
    height: 267px;
    width: 330px;
    margin-left: 25%;
}
.green-back img{
    width: 100%;
}
.image-wrapper{
    height: 267px;
    width: 330px;
    margin-left: 30%;
    position: absolute;
    bottom: 0;
    top: 10%;
    right: 0;
    left: 30px;
    z-index: 2000;
}
.image-wrapper img{
    width: 100%;
    height: auto;
}
.text p{
    color: #272727;
    font: 16px 'Open Sans',Medium ;
    padding-bottom: 10px;
}
.text h1{
    font: 600 50px 'Jost', sans-seri; 
    padding-bottom: 5px;
}

/* ------approach section----- */
.approach-section{
    background: #2a9027;
    color: #fff;
}
.approach-content{
    display: flex;
}
.accordion{
    width: 45%;
    height: 300px;
    padding: 100px 50px 100px 150px;
    
}
.approach-image{
    background-image: url(/images/people-shaking-hands.jpg);
    background-size: cover;
    width: 55%;
    height: 300px;
}
.accordion-body{
    background-color: #2a9027;
}
.accordion-body p{
    color: #fff;
}
.accordion-header button{
    background-color: #2a9027;
    color: #fff;
    border-bottom: 0.5px solid lightgrey !important;
}

/* -------teams--------- */
.team-section{
    background-color: #f6f6f6;
    padding: 58px 0 110px 0;
}
.wrap-team{
    margin-left: 63px;
    margin-right: 55px;
}
.team-text{
    display: flex;
    position: relative;
}
.team-text h1{
    width: 570px;
    font: 32px "Jost";
    line-height: 40px;
    letter-spacing: 0px;
}
.team-link{ 
    position: absolute;
    right: 0;
    left: 80%;
    top: 1;
    bottom: 0;
    padding-left: 30px;  
}
.team-link a{
    color: #000;
    text-decoration: none;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
    font: 14px "Jost";
    text-transform: none;
    line-height: 1.4em;
    letter-spacing: 0px;
    white-space: nowrap;
}
.team-link a:hover{
    color: #000;
}

.team-link a:hover .icon svg {
    opacity: 0;
}

.team-link a:hover .icon:before {
    content: "\2192"; /* Unicode arrow character */
    font-size: 26px; 
    color: #000000;    
}

.team-cards{
    padding-top: 50px;    
}
.inner-row{
    z-index: 1;
    position: relative;
    display: flex;
    flex-direction: row;
    gap: 3rem;
}
.team-person{
    width: 33.3%;
    position: relative;
}
.team-person::before{
    content: '';
    z-index: 2;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(180deg, rgba(15, 15, 15, 0) 70%, rgba(15, 15, 15, .4) 100%);
    transition: opacity .3s ease;
}
.person-image img {
    width: 100%;
    height: auto;
    display: block;
}

.mouse-trace {
    position: absolute;
    width: 20px;
    height: 20px;
    background-color: #ff0000; /* Change color as needed */
    border-radius: 50%;
    pointer-events: none;
    transform: translate(-50%, -50%);
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
}

.team-person:hover .mouse-trace {
    opacity: 1;
}
.person-description{
    position: absolute;
    top: 75%;
    bottom:0;
    padding: 30px;
    color: #fff;
    z-index: 3;
    
}
.person-description h3{
    text-align: center;
}

/* -----services---- */
.services{
    position: fixed;
    bottom: 40px;
    left: 32px;
    z-index: 200;
    writing-mode: vertical-rl;
    transform: rotate(180deg);
    overflow: hidden;
    font: 500 14px 'Jost';
    line-height: 1.4em;
}

.our-services a{
    color: #000000;
    display: flex;
    flex-direction: row;
    align-items: center;
    transition: color .5s ease;
    direction: ltr;
    text-decoration: none;
}
.our-services a::before{
    content: '';
    width: 1px;
    height: 2rem;
    margin-bottom: 20px;
    background-color: currentColor;
    display: block;    
}
.our-services {
    transition: transform .3s ease;
}
.our-services:hover {
    transform: translateY(-10px); /* You can adjust the value as per your preference */
}
.our-services:hover a {
    color: #000000; /* Set the text color to black on hover */
}


/* -------footer------- */
.footer{
    background: #000;
    padding: 30px 150px 20px 150px;
}
.footer-text p{
    color: #FFFFFF80;
    font: 12px 'Open Sans',Regular;
}
.footer-wrapper{
    display: flex;
    justify-content: space-between;
}
.job a{
    color: #FFFFFF80;
    text-decoration: none;
    font: 12px 'Open Sans',Regular;
}


/* ---------------whatsapp----------  */
.social{
    position: fixed;
    z-index: 9999;
    top: 50%;
    right: 0;
    display: flex;
    align-items: center;
    transform: translateY(-50%);
    transition: 1s;
}
.social-wrap{
    display: flex;
    flex-direction: row;
}
.social-list{
    margin: 0;
    padding: 0;
    list-style: none;
    display: inline-block;
    vertical-align: top;
}
.arrow-right{
    background: #000000;
    color: #fff;
    height: 32px;
    padding: 0 20px;
    line-height: 32px;
    display: block;
    border-radius: 10px 0 0 ;
    box-shadow: 0 3px 6px rgba(0,0,0, .16);
    text-align: center;
    width: 100%;
}
.social-list li{
    position: relative;
    width: 53px;
    margin: 0;
    padding: 0;
    display: block;
    color: #fff;
}
.whatsapp, .whatsapp a{
    width: 53px;
    max-width: 100px;
    height: 53px;
    color: #fff;
    float: left;
    position: relative;
    text-align: center;
    font-size: 17px;
    transition: .5s;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    line-height: 1.2;
    flex-wrap: wrap;
    text-decoration: none;
    background: rgb(38, 211, 103);
    border-bottom-left-radius: 10px;
}
.whatsapp2{
    background: #26D367;
    border-radius: 10px 0 0 10px;
    transform-origin: 100% 0 0;
    left: auto;
    right: 100%;
    color:#fff;
    font-size: 14px;
    float: left;
    line-height: 1.2;
    position: absolute;
    height: 100%;
    white-space: nowrap;
    top: 0;
    transition: .5s;
    transform: rotateY(90deg);
    height: 53px;
}
.whatsapp2 a{
    color: #fff;
    text-decoration: none;
    vertical-align: top;
    min-width: 137px;
    height: 100%;
    padding-top: 19px;
    padding-right: 10px;
    padding-left: 23px;
    display: inline-block;
}
.whatsapp:hover + .whatsapp2{
    transform: rotateY(0deg);
}
.whatsapp:hover {
    border-bottom-left-radius: 0;
}
.whatsapp2 a:hover{
    color: #fff;
}









